{% comment %}
    Renders a product thumbnail with a modal-opener

    Accepts:
    - media: {Object} Product Media object
    - position: {String} Position of the media. Used for accessible label.
    - modal_id: {String} The product modal that will be shown by clicking the thumbnail

    Usage:
    {% render 'product-thumbnail',
      media: media,
      position: forloop.index,
      modal_id: section.id
    %}
{% endcomment %}

{% capture sizes %}
  (min-width: 1200px) calc((100vw - 10rem) / 2), (min-width: 750px) calc((100vw - 10rem) / 2), calc(100vw - 4rem)
{% endcapture %}

<noscript>
  {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
    <a href="{% if media.media_type == 'video' %}{{ media.sources[1].url }}{% else %}{{ media | external_video_url }}{% endif %}" aria-label="{{ 'products.product.video_exit_message' | t: title: product.title | escape }}">
      <span class="product__media-icon motion-reduce">{% render 'icon-play' %}</span>
      <div class="product__media media"  style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;">
        {{ media.preview_image | image_url: width: 650 | image_tag:
          loading: 'lazy',
          widths: '288, 360, 550, 650, 750, 940, 1100',
          sizes: sizes
        }}
      </div>
    </a>
  {%- else -%}
    <div class="product__media media" style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;">
      {{ media.preview_image | image_url: width: 750 | image_tag:
        loading: 'lazy',
        widths: '288, 360, 550, 650, 750, 940, 1100',
        sizes: sizes
      }}
    </div>
  {%- endif -%}
</noscript>

{% comment %} <modal-opener class="product__modal-opener product__modal-opener--{{ media.media_type }} no-js-hidden" data-modal="#ProductModal-{{ modal_id }}"> {% endcomment %}
  <span class="product__media-icon motion-reduce" aria-hidden="true">
    {%- liquid
      case media.media_type
        when 'video' or 'external_video'
          render 'icon-play'
        when 'model'
          render 'icon-3d-model'
        else
          render 'icon-plus'
      endcase
    -%}
  </span>

  {% assign zoom_img =  media.preview_image | img_url: "master" %} 

  <div class="product__media">
    {{ media.preview_image | image_url: width: 750 | image_tag:
      loading: 'lazy',
      widths: '288, 360, 550, 650, 750, 940, 1100',
      sizes: sizes,
      data-zoom-image: zoom_img
    }}
  </div>
  {% comment %} <button class="product__media-toggle" type="button" aria-haspopup="dialog" data-media-id="{{ media.id }}">
  <span class="visually-hidden">
    {%- if position == 'featured' %}
      {{ 'products.product.media.open_featured_media' | t }}
    {%- else -%}
      {{ 'products.product.media.open_media' | t: index: position }}
    {%- endif -%}
  </span>
  </button>
</modal-opener> {% endcomment %}

{%- if media.media_type != 'image' -%}
  {%- if media.media_type == 'model' -%}
    <product-model class="deferred-media media no-js-hidden" {% if section.settings.enable_autoheight %}style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;"{% endif %} data-media-id="{{ media.id }}">
  {%- else -%}
    <deferred-media class="deferred-media media no-js-hidden" style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;" data-media-id="{{ media.id }}">
  {%- endif -%}
  <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
    <span class="deferred-media__poster-button motion-reduce">
      {%- if media.media_type == 'model' -%}
        <span class="visually-hidden">{{ 'products.product.media.play_model' | t }}</span>
        {%- render 'icon-3d-model' -%}
      {%- else -%}
        <span class="visually-hidden">{{ 'products.product.media.play_video' | t }}</span>
        {%- render 'icon-play' -%}
      {%- endif -%}
    </span>
    {{ media.preview_image | image_url: width: 750 | image_tag:
      loading: 'lazy',
      widths: '288, 360, 550, 650, 750, 940, 1100',
      sizes: sizes
    }}
  </button>
  <template>
    {%- liquid
      case media.media_type
        when 'external_video'
          assign video_class = 'js-' | append: media.host
          if media.host == 'youtube'
            echo media | external_video_url: autoplay: true, loop: loop, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy"
          else
            echo media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: "lazy"
          endif
        when 'video'
          echo media | media_tag: image_size: "2048x", autoplay: true, loop: loop, controls: true, preload: "none"
        when 'model'
          echo media | media_tag: image_size: "2048x", toggleable: true
      endcase
    -%}
  </template>

  {%- if media.media_type == 'model' -%}
    </product-model>
    <button
      class="button button--full-width product__xr-button"
      type="button"
      aria-label="{{ 'products.product.xr_button_label' | t }}"
      data-shopify-xr
      data-shopify-model3d-id="{{ media.id }}"
      data-shopify-title="title"
      data-shopify-xr-hidden
    >
      {% render 'icon-3d-model' %}
      {{ 'products.product.xr_button' | t }}
    </button>
  {%- else -%}
    </deferred-media>
  {%- endif -%}
{%- endif -%}
