{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}

<div class="product-parameters">
	{%- unless product.has_only_default_variant -%}
		{%- if block.settings.picker_type == 'button' -%}
			<variant-radios
				id="variant-radios-{{ section.id }}"
				class="no-js-hidden"
				data-section="{{ section.id }}"
				data-url="{{ product.url }}"
				{% if update_url == false %}
					data-update-url="false"
				{% endif %}
				{{ block.shopify_attributes }}
			>
				{%- for option in product.options_with_values -%}
					<fieldset class="product-form__controls" id="SingleOptionSelector-{{ forloop.index0 }}">

						
							<legend class="product-form__group-name">{{ option.name }}:  <span id="selected-value-{{ forloop.index }}">{{ option.selected_value }}</span>   </legend>
					

						<div class="product-form__controls-group product-form__controls-group__{{ option.name}}">
							{% render 'product-variant-options', product: product, option: option, block: block %}
						</div>
					</fieldset>
				{%- endfor -%}

				<script type="application/json">
					{{ product.variants | json }}
				</script>
			</variant-radios>
		{% else %}
			{% liquid
				assign color_trigger = settings.trigger_swatch | handle | strip
				assign name_option = option.name | handle | strip
			%}
			<variant-selects
				id="variant-selects-{{ section.id }}"
				class="no-js-hidden"
				data-section="{{ section.id }}"
				data-url="{{ product.url }}"
				{% if update_url == false %}
					data-update-url="false"
				{% endif %}
				{{ block.shopify_attributes }}
			>
				{%- for option in product.options_with_values -%}
					{% liquid
						assign color_trigger = settings.trigger_swatch | handle | strip
						assign name_option = option.name | handle | strip
					%}

					{% if settings.show_color_swatch == false or color_trigger != name_option %}
						<fieldset class="product-form__controls">
							<label for="Option-{{ section.id }}-{{ forloop.index0 }}" class="product-form__group-name">
								{{ option.name }}:
							</label>
							<div class="product-form__controls-group">
								<div class="select">
									<select
										name="options[{{ option.name | escape }}]"
										id="Option-{{ section.id }}-{{ forloop.index0 }}"
										class="select__select"
										form="{{ product_form_id }}"
									>
										{% render 'product-variant-options', product: product, option: option, block: block %}
									</select>
									{% render 'icon-caret' %}
								</div>
							</div>
						</fieldset>
					{% elsif settings.show_color_swatch and color_trigger == name_option %}
						{% if color_trigger != name_option %}
							<fieldset class="product-form__controls">
								<label for="Option-{{ section.id }}-{{ forloop.index0 }}" class="product-form__group-name">
									{{ option.name }}:
								</label>
								<div class="product-form__controls-group">
									<div class="select">
										<select
											name="options[{{ option.name | escape }}]"
											id="Option-{{ section.id }}-{{ forloop.index0 }}"
											class="select__select"
											form="{{ product_form_id }}"
										>
											{% render 'product-variant-options', product: product, option: option, block: block %}
										</select>
										{% render 'icon-caret' %}
									</div>
								</div>
							</fieldset>
						{% else %}
							<fieldset class="product-form__controls js-radio-colors" id="SingleOptionSelector-{{ forloop.index0 }}">
								<legend class="product-form__group-name">{{ option.name }}:</legend>
								<div class="product-form__controls-group">
									{% render 'product-variant-options', product: product, option: option, block: block %}
								</div>
							</fieldset>
						{% endif %}
					{% endif %}
				{% endfor %}
				<script type="application/json">
					{{ product.variants | json }}
				</script>
			</variant-selects>
		{% endif %}
	{% endunless %}

	<noscript class="product-form__noscript-wrapper-{{ section.id }}">
		<fieldset class="product-form__controls {% if product.has_only_default_variant %} hidden{% endif %}">
			<label for="Variants-{{ section.id }}" class="product-form__group-name">{{- 'products.product.product_variants' | t -}}:</label>
			<div class="product-form__controls-group">
				<div class="select">
					<select
						name="id"
						id="Variants-{{ section.id }}"
						class="select__select"
						form="{{ product_form_id }}"
					>
						{%- for variant in product.variants -%}
							<option
								{% if variant == product.selected_or_first_available_variant %}
									selected="selected"
								{% endif %}
								{% if variant.available == false %}
									disabled
								{% endif %}
								value="{{ variant.id }}"
							>
								{%- liquid
									echo variant.title
									echo variant.price | money | strip_html | prepend: ' - '
									if variant.available == false
										echo 'products.product.sold_out' | t | prepend: ' - '
									endif
									if variant.quantity_rule.increment > 1
										echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
									endif
									if variant.quantity_rule.min > 1
										echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
									endif
									if variant.quantity_rule.max != null
										echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
									endif
									assign cart_quantity = cart | item_count_for_variant: variant.id
									if cart_quantity > 0
										echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
									endif
								-%}
							</option>
						{%- endfor -%}
					</select>
					{% render 'icon-caret' %}
				</div>
			</div>
		</fieldset>
	</noscript>
</div>