<ul
	class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce color-background-2"
	role="list"
>
	{%- for childlink in link.links -%}
		<li>
			{%- if childlink.links == blank -%}
				<a
					href="{{ childlink.url }}"
					class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} header__menu-item--active{% endif %}"
					{% if childlink.current %}
						aria-current="page"
					{% endif %}
				>
					<span>
						{{ childlink.title | escape }}
					</span>
				</a>
			{%- else -%}
				<span class="header__menu-item link link--text list-menu__item focus-inset caption-large">
					<span>
						{{ childlink.title | escape }}
					</span>
					{% render 'icon-caret' %}
				</span>
				<ul
					class="header__submenu list-menu--disclosure list-menu motion-reduce color-background-2"
					tabindex="0"
				>
					{%- for grandchildlink in childlink.links -%}
						<li>
							<a
								href="{{ grandchildlink.url }}"
								class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} header__menu-item--active{% endif %}"
								{% if grandchildlink.current %}
									aria-current="page"
								{% endif %}
							>
								<span>
									{{ grandchildlink.title | escape }}
								</span>
							</a>
						</li>
					{%- endfor -%}
				</ul>
			{%- endif -%}
		</li>
	{%- endfor -%}
</ul>
