<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="">
		<link rel="canonical" href="{{ canonical_url }}">
		<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

		{%- if settings.favicon != blank -%}
			<link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
		{%- endif -%}

		{%- unless settings.type_header_font.system? -%}
			<link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
		{%- endunless -%}

		<title>{{ shop.name }}</title>

		<meta name="description" content="{{ page_description | escape }}">

		{% render 'meta-tags' %}

		{{ content_for_header }}

		{%- liquid
			assign body_font_ligh = settings.type_body_font | font_modify: 'weight', '300'
			assign body_font_regular = settings.type_body_font | font_modify: 'weight', '400'
			assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
			assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
			assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
			assign heading_font_italic = settings.type_header_font | font_modify: 'style', 'italic'
		%}

		{% style %}
			{{ settings.type_body_font | font_face: font_display: 'swap' }}
			{{ settings.type_header_font | font_face: font_display: 'swap' }}
			{{ settings.type_header_font | font_face: font_display: 'swap' }}
			{{ settings.type_button_font | font_face: font_display: 'swap' }}
			{{ settings.type_header_font_card | font_face: font_display: 'swap' }}
			{{ body_font_ligh | font_face: font_display: 'swap' }}
			{{ body_font_regular | font_face: font_display: 'swap' }}
			{{ body_font_bold | font_face: font_display: 'swap' }}
			{{ body_font_italic | font_face: font_display: 'swap' }}
			{{ heading_font_italic | font_face: font_display: 'swap' }}
			{{ body_font_bold_italic | font_face: font_display: 'swap' }}

			:root {
			--spaced-section: 5rem;

			--font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
			--font-body-style: {{ settings.type_body_font.style }};
			--font-body-weight: {{ settings.type_body_font.weight }};

			--font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
			--font-body-line-height: {{ settings.type_body_line_height }};

			--font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
			--font-heading-style: {{ settings.type_header_font.style }};
			--font-heading-weight: {{ settings.type_header_font.weight }};
			--font-heading-letter-spacing: {{ settings.type_header_letter_spacing }}em;
			--font-heading-line-height: {{ settings.type_header_line_height }};

			--font-subtitle-family: {{ settings.type_subtitle_font.family }}, {{ settings.type_subtitle_font.fallback_families }};
			--font-subtitle-style: {{ settings.type_subtitle_font.style }};
			--font-subtitle-weight: {{ settings.type_subtitle_font.weight }};
			--font-subtitle-text-transform: {{ settings.subtitle_text_transform }};
			--font-subtitle-scale: {{ settings.subtitle_scale }}%;

			--font-heading-h1-scale: {{ settings.heading_h1_scale | divided_by: 100.0 }};
			--font-heading-h2-scale: {{ settings.heading_h2_scale | divided_by: 100.0 }};
			--font-heading-h3-scale: {{ settings.heading_h3_scale | divided_by: 100.0 }};
			--font-heading-h4-scale: {{ settings.heading_h4_scale | divided_by: 100.0 }};

			--font-heading-card-family: {{ settings.type_header_font_card.family }}, {{ settings.type_header_font_card.fallback_families }};
			--font-heading-card-style: {{ settings.type_header_font_card.style }};
			--font-heading-card-weight: {{ settings.type_header_font_card.weight }};
			--font-text-card-family: {{ settings.type_text_font_card.family }}, {{ settings.type_text_font_card.fallback_families }};
			--font-text-card-style: {{ settings.type_text_font_card.style }};
			--font-text-card-weight: {{ settings.type_text_font_card.weight }};

			--font-heading-card-scale: {{ settings.heading_scale_card | divided_by: 100.0 }};
			--font-text-card-scale: {{ settings.text_scale_card | divided_by: 100.0 }};

			--font-button-family: {{ settings.type_button_font.family }}, {{ settings.type_button_font.fallback_families }};
			--font-button-style: {{ settings.type_button_font.style }};
			--font-button-weight: {{ settings.type_button_font.weight }};
			--font-button-text-transform: {{ settings.button_text_transform }};

			--font-button-family: {{ settings.type_button_font.family }}, {{ settings.type_button_font.fallback_families }};
			--font-button-style: {{ settings.type_button_font.style }};
			--font-button-weight: {{ settings.type_button_font.weight }};
			--font-button-text-transform: {{ settings.button_text_transform }};
			--font-button-letter-spacing: 0;
			--font-subtitle-letter-spacing: 0.04em;

			--font-header-menu-family: {{ settings.type_header_menu_font.family }}, {{ settings.type_header_menu_font.fallback_families }};
			--font-header-menu-style: {{ settings.type_header_menu_font.style }};
			--font-header-menu-weight: {{ settings.type_header_menu_font.weight }};
			--font-header-menu-text-transform: {{ settings.header_menu_text_transform }};

			--font-footer-menu-family: {{ settings.type_footer_menu_font.family }}, {{ settings.type_footer_menu_font.fallback_families }};
			--font-footer-menu-style: {{ settings.type_footer_menu_font.style }};
			--font-footer-menu-weight: {{ settings.type_footer_menu_font.weight }};
			--font-footer-link-size: {{ settings.link_size_footer }}px;
			--font-footer-bottom-link-size: {{ settings.link_size_footer_bottom }}px;

			--color-base-text: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
			--color-secondary-text: {{ settings.colors_secondary_text.red }}, {{ settings.colors_secondary_text.green }}, {{ settings.colors_secondary_text.blue }};
			--color-title-text: {{ settings.colors_text_title.red }}, {{ settings.colors_text_title.green }}, {{ settings.colors_text_title.blue }};
			--dot-background-color: {{ settings.colors_subtitle_dot.red }}, {{ settings.colors_subtitle_dot.green }}, {{ settings.colors_subtitle_dot.blue }};

			--color-base-background-1: {{ settings.colors_background_1.red }}, {{ settings.colors_background_1.green }}, {{ settings.colors_background_1.blue }};
			--color-base-background-2: {{ settings.colors_background_2.red }}, {{ settings.colors_background_2.green }}, {{ settings.colors_background_2.blue }};
			--color-base-background-5: {{ settings.colors_background_5.red }}, {{ settings.colors_background_5.green }}, {{ settings.colors_background_5.blue }};
			--color-base-background-3: {{ settings.colors_background_3.red }}, {{ settings.colors_background_3.green }}, {{ settings.colors_background_3.blue }};
			--color-base-background-4: {{ settings.colors_background_4.red }}, {{ settings.colors_background_4.green }}, {{ settings.colors_background_4.blue }};

			--color-announcement-bar-background-1: {{ settings.colors_background_announcement_bar_1.red }}, {{ settings.colors_background_announcement_bar_1.green }}, {{ settings.colors_background_announcement_bar_1.blue }};
			--color-announcement-bar-background-2: {{ settings.colors_background_announcement_bar_2.red }}, {{ settings.colors_background_announcement_bar_2.green }}, {{ settings.colors_background_announcement_bar_2.blue }};

			--color-base-solid-button-labels: {{ settings.colors_solid_button_labels.red }}, {{ settings.colors_solid_button_labels.green }}, {{ settings.colors_solid_button_labels.blue }};
			--color-base-solid-button-labels-hover: {{ settings.colors_solid_button_labels_hover.red }}, {{ settings.colors_solid_button_labels_hover.green }}, {{ settings.colors_solid_button_labels_hover.blue }};
			--color-base-button-background: {{ settings.colors_solid_button_background.red }}, {{ settings.colors_solid_button_background.green }}, {{ settings.colors_solid_button_background.blue }};
			--color-base-button-background-hover: {{ settings.colors_solid_button_background_hover.red }}, {{ settings.colors_solid_button_background_hover.green }}, {{ settings.colors_solid_button_background_hover.blue }};
			--color-base-outline-button-labels: {{ settings.colors_outline_button_labels.red }}, {{ settings.colors_outline_button_labels.green }}, {{ settings.colors_outline_button_labels.blue }};
			--color-base-outline-button-labels-hover: {{ settings.colors_outline_button_labels_hover.red }}, {{ settings.colors_outline_button_labels_hover.green }}, {{ settings.colors_outline_button_labels_hover.blue }};
			--color-secondary-button-labels: {{ settings.colors_secondary_button_labels.red }}, {{ settings.colors_secondary_button_labels.green }}, {{ settings.colors_secondary_button_labels.blue }};
			--color-secondary-button-labels-hover: {{ settings.colors_secondary_button_labels_hover.red }}, {{ settings.colors_secondary_button_labels_hover.green }}, {{ settings.colors_secondary_button_labels_hover.blue }};
			--color-tertiary-button-labels: {{ settings.colors_tertiary_button_labels.red }}, {{ settings.colors_tertiary_button_labels.green }}, {{ settings.colors_tertiary_button_labels.blue }};
			--color-tertiary-button-labels-hover: {{ settings.colors_tertiary_button_labels_hover.red }}, {{ settings.colors_tertiary_button_labels_hover.green }}, {{ settings.colors_tertiary_button_labels_hover.blue }};
			--color-tertiary-button-background: {{ settings.colors_tertiary_button_background.red }}, {{ settings.colors_tertiary_button_background.green }}, {{ settings.colors_tertiary_button_background.blue }};
			--color-tertiary-button-background-hover: {{ settings.colors_tertiary_button_background_hover.red }}, {{ settings.colors_tertiary_button_background_hover.green }}, {{ settings.colors_tertiary_button_background_hover.blue }};
			--border-radius-button: {{ settings.button_border_radius }}px;
			--color-text-accent: {{ settings.colors_accent.red }}, {{ settings.colors_accent.green }}, {{ settings.colors_accent.blue }};

			--payment-terms-background-color: {{ settings.colors_background_1 }};
			--color-overlay-background: {{ settings.colors_background_overlay.red }}, {{ settings.colors_background_overlay.green }}, {{ settings.colors_background_overlay.blue }};
			--color-base-background-input: {{ settings.colors_input_background.red }}, {{ settings.colors_input_background.green }}, {{ settings.colors_input_background.blue }};

			--color-base-border-input: {{ settings.colors_input_border.red }}, {{ settings.colors_input_border.green }}, {{ settings.colors_input_border.blue }};
			--color-hover-border-input: {{ settings.colors_input_hover_border.red }}, {{ settings.colors_input_hover_border.green }}, {{ settings.colors_input_hover_border.blue }};

			--color-badge-sale-background: {{ settings.badge_sale_background_color.red }}, {{ settings.badge_sale_background_color.green }}, {{ settings.badge_sale_background_color.blue }};
			--color-badge-sale-text: {{ settings.badge_sale_text_color.red }}, {{ settings.badge_sale_text_color.green }}, {{ settings.badge_sale_text_color.blue }};
			--color-badge-soldout-background: {{ settings.badge_soldout_background_color.red }}, {{ settings.badge_soldout_background_color.green }}, {{ settings.badge_soldout_background_color.blue }};
			--color-badge-soldout-text: {{ settings.badge_soldout_text_color.red }}, {{ settings.badge_soldout_text_color.green }}, {{ settings.badge_soldout_text_color.blue }};
			--color-border: {{ settings.color_border.red }}, {{ settings.color_border.green }}, {{ settings.color_border.blue }};
			--color-background-card: {{ settings.background_card.red }}, {{ settings.background_card.green }}, {{ settings.background_card.blue }};
			--color-background-card-dark: {{ settings.background_card_dark.red }}, {{ settings.background_card_dark.green }}, {{ settings.background_card_dark.blue }};
			--color-scheme-toggle: {{ settings.background_scheme_toggle.red }}, {{ settings.background_scheme_toggle.green }}, {{ settings.background_scheme_toggle.blue }};
			--color-scheme-toggle-text: {{ settings.background_scheme_toggle_text.red }}, {{ settings.background_scheme_toggle_text.green }}, {{ settings.background_scheme_toggle_text.blue }};
			}

			@media screen and (min-width: 990px) {
				:root {
					--spaced-section: 16rem;
				}
			}

			*,
			*::before,
			*::after {
			box-sizing: inherit;
			}

			html {
			box-sizing: border-box;
			font-size: 10px;
			height: 100%;
			}

			body {
			position: relative;
			display: grid;
			grid-template-rows: auto auto 1fr auto;
			grid-template-columns: 100%;
			min-height: 100%;
			margin: 0;
			font-size: calc(var(--font-body-scale) * 1rem);
			line-height: 1.5;
			font-family: var(--font-body-family);
			font-style: var(--font-body-style);
			font-weight: var(--font-body-weight);
			overflow-x: hidden;
			}
		{% endstyle %}

		{%- unless settings.type_body_font.system? -%}
			<link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
		{%- endunless -%}
		{%- unless settings.type_header_font.system? -%}
			<link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
		{%- endunless -%}

		{{ 'section-password.css' | asset_url | stylesheet_tag }}
		{{ 'base.css' | asset_url | stylesheet_tag }}
		{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

		<script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
		<script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
	</head>

	<body class="password">
		<a class="skip-to-content-link button visually-hidden" href="#MainContent">
			{{ 'accessibility.skip_to_text' | t }}
		</a>

		{% section 'main-password-header' %}

		<main id="MainContent" class="password-main">
			{{ content_for_layout }}
		</main>
		<footer>
			{% section 'main-password-footer' %}
		</footer>
	</body>
</html>
