{{ 'section-collapsible-content.css' | asset_url | stylesheet_tag }}

<script src="{{ 'collapsible-content.js' | asset_url }}" defer="defer"></script>

{%- style -%}
	{% render 'section-margin' %}
	{% render 'section-padding' %}
{%- endstyle -%}

<div class="collapsible-content section-{{ section.id }}-padding">
	<div class="container">
		<div class="collapsible-content__top">
			{%- if section.settings.heading != blank -%}
				<h2 class="collapsible-content__heading {{ section.settings.heading_size }}">
					{{ section.settings.heading }}
				</h2>
			{%- endif -%}

			{%- if section.settings.text != blank -%}
				<div class="collapsible-content__text">
					{{ section.settings.text | escape }}
				</div>
			{%- endif -%}
		</div>

		<div class="collapsible-content__items">
			{%- for block in section.blocks -%}
				<div class="collapsible-content__item {% if block.settings.opened %} active {% endif %}" {{ block.shopify_attributes }}>
					<div class="collapsible-content__toggle">
						<div class="collapsible-content__toggle-group">
							<div class="collapsible-content__digit">{{ forloop.index }}</div>
							{%- if block.settings.question != blank -%}
								<h4 class="collapsible-content__question">{{ block.settings.question | escape }}</h4>
							{%- endif -%}
						</div>
						<div class="collapsible-content__icon">
							{%- render 'icon-button-arrow' -%}
						</div>
					</div>

					{%- if block.settings.answer != blank -%}
						<div class="collapsible-content__answer" {% if block.settings.opened %} style="display: block;" {% endif %}>
							<div class="collapsible-content__answer-inner">{{ block.settings.answer }}</div>
						</div>
					{%- endif -%}
				</div>
			{%- endfor -%}
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.collapsible-content.name",
	"tag": "section",
	"class": "collapsible-content-section spaced-section",
	"enabled_on": {
		"templates": [
			"*"
		]
	},
	"blocks": [
		{
			"type": "accordion",
			"name": "t:sections.collapsible-content.blocks.accordion.name",
			"limit": 20,
			"settings": [
				{
					"type": "text",
					"id": "question",
					"default": "Some title",
					"label": "t:sections.all.heading.label"
				},
				{
					"type": "richtext",
					"id": "answer",
					"default": "<p>Some description</p>",
					"label": "t:sections.all.text.label"
				},
				{
          "type": "checkbox",
          "id": "opened",
          "label": "t:sections.collapsible-content.blocks.accordion.settings.opened.label",
          "default": false
        }
			]
		}
	],
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"default": "Some header",
			"label": "t:sections.all.heading.label"
		},
		{
			"type": "select",
			"id": "heading_size",
			"options": [
				{
					"value": "h3",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			],
			"default": "h3",
			"label": "t:sections.all.heading_size.label"
		},
		{
			"type": "textarea",
			"id": "text",
			"default": "Some description",
			"label": "t:sections.all.text.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-padding.header.content"
		},
		{
			"type": "select",
			"id": "padding_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-padding.options__6.label"
				}
			],
			"default": "m",
			"label": "t:sections.all.section-padding.padding_top.label"
		},
		{
			"type": "select",
			"id": "padding_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-padding.options__6.label"
				}
			],
			"default": "m",
			"label": "t:sections.all.section-padding.padding_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.collapsible-content.name",
			"blocks": [
				{
					"type": "accordion",
          "settings": {
            "opened": true
          }
				},
				{
					"type": "accordion"
				},
				{
					"type": "accordion"
				}
			]
		}
	]
}
{% endschema %}