{{ 'twentytwenty.css' | asset_url | stylesheet_tag }}
{{ 'section-compare.css' | asset_url | stylesheet_tag }}

<script src="{{ 'jquery.event.move.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'jquery.twentytwenty.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'compare.js' | asset_url }}" defer="defer"></script>

{% style %}
  {% render 'section-margin' %}
  {% render 'section-padding' %}
{% endstyle %}

<section class="compare section-{{ section.id }}-padding">
  <div class="container">
    <div class="compare__box">
      {%- if section.settings.heading != blank
        or section.settings.title != blank
        or section.settings.text != blank
        or section.settings.show_button
        and section.settings.button_label != blank
      -%}
        <div class="compare__content">
          <div class="title-wrapper">
            {%- if section.settings.heading != blank -%}
              <div class="compare__subtitle subtitle">
                {{ section.settings.heading }}
              </div>
            {%- endif -%}
            {%- if section.settings.title != blank -%}
              <h2 class="compare__title">{{ section.settings.title }}</h2>
            {%- endif -%}
          </div>

          {%- if section.settings.text != blank -%}
            <div class="compare__description">
              <p class="compare__text">{{ section.settings.text }}</p>
            </div>
          {%- endif -%}

          {% if section.settings.show_button and section.settings.button_label != blank -%}
            <a
              {% if section.settings.button_link.url != blank %}
                href="{{ section.settings.button_link }}"
              {% endif %}
              class="compare__button button button--arrow button--{{ section.settings.button_style }}"
              {% if section.settings.button_link.url == blank %}
                aria-disabled="true"
              {% endif %}
            >
              <span>{{ section.settings.button_label }}</span>
              <span>{% render 'icon-button-arrow' %}</span>
            </a>
          {% endif %}
        </div>
      {%- endif -%}
      <div class="compare__slide">
        {%- if section.settings.image_before != blank and section.settings.image_after != blank -%}
          <div class="twentytwenty-wrapper twentytwenty-horizontal">
            <div class="twentytwenty-container">
              {{
                section.settings.image_before
                | image_url: width: 1790
                | image_tag: loading: 'lazy', widths: '553, 895, 1790'
              }}
              {{
                section.settings.image_after
                | image_url: width: 1790
                | image_tag: loading: 'lazy', widths: '553, 895, 1790'
              }}
            </div>
          </div>
        {%- else -%}
          <div class="compare__default">
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
            {{ 'product-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "t:sections.compare-block.name",
  "tag": "section",
  "class": "section-compare",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Subheading",
      "label": "t:sections.compare-block.settings.heading.label"
    },
    {
      "type": "textarea",
      "id": "title",
      "default": "Some header",
      "label": "t:sections.compare-block.settings.title.label"
    },
    {
      "type": "textarea",
      "id": "text",
      "default": "Some description",
      "label": "t:sections.compare-block.settings.text.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.button.header_button.content"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "default": false,
      "label": "t:sections.all.button.button_show.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.all.button.button_style.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Explore Our Store",
      "label": "t:sections.all.button.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button.button_link.label"
    },
    {
      "type": "image_picker",
      "id": "image_before",
      "label": "t:sections.compare-block.settings.image_before.label",
      "info": "t:sections.compare-block.settings.image_before.info"
    },
    {
      "type": "image_picker",
      "id": "image_after",
      "label": "t:sections.compare-block.settings.image_after.label",
      "info": "t:sections.compare-block.settings.image_before.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.compare-block.presets.name"
    }
  ]
}
{% endschema %}
