{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  {% render 'section-padding' %}
{%- endstyle -%}

<div class="contact-form section-{{ section.id }}-padding">
  <div class="container">
    <div class="contact-form__container contact-form__container--{{ section.settings.position }} ">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {% when 'image-with-text' %}
            <div class="image-with-text__left image-with-text__left--{{ block.settings.height }}">
              <div
                class="image-with-text__media image-with-text__media--{{ block.settings.height }} {% if block.settings.image != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
                {% if block.settings.height == 'adapt' and block.settings.image != blank %}
                  style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
                {% endif %}
              >
                {%- if block.settings.image != blank -%}
                  {% capture sizes %}
                  (min-width: 1100px) 1100px, calc((100vw - 20px))
                {% endcapture %}
                  {{
                    block.settings.image
                    | image_url: width: 1100
                    | image_tag: loading: 'lazy', sizes: sizes, widths: '360, 535, 720, 940, 1070, 1100'
                  }}
                {%- else -%}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </div>
            </div>
        {% endcase %}
      {% endfor %}
      <div class="contact-form__text contact-form__text--{{ section.settings.layout }}">
        <div class="contact-form__wrapper">
          {%- if section.settings.heading != blank -%}
            <h2 class="contact-form__title h3">
              {{ section.settings.heading }}
            </h2>
          {%- endif -%}
          {%- form 'contact', id: 'ContactForm' -%}
            {%- if form.posted_successfully? -%}
              <div class="form-status form-status-list form__message" tabindex="-1" autofocus>
                {% render 'icon-success' %}
                {{ 'templates.contact.form.post_success' | t }}
              </div>
            {%- elsif form.errors -%}
            {%- endif -%}
            <div class="contact-form__fields">
              <div class="field field__name">
                <input
                  class="field__input"
                  autocomplete="name"
                  type="text"
                  id="ContactForm-name"
                  name="contact[{{ 'templates.contact.form.name' | t }}]"
                  value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                  placeholder="{{ 'templates.contact.form.name' | t }}"
                >
                <label
                  class="field__label"
                  for="ContactForm-name"
                  placeholder="{{ 'templates.contact.form.name' | t }}"
                >
                  {{ 'templates.contact.form.name' | t }}
                </label>
              </div>
              <div class="field field--with-error">
                <input
                  autocomplete="email"
                  type="email"
                  id="ContactForm-email"
                  class="field__input"
                  name="contact[email]"
                  spellcheck="false"
                  autocapitalize="off"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="ContactForm-email-error"
                  {% endif %}
                  placeholder="{{ 'templates.contact.form.email' | t }}"
                  required
                >
                <label
                  class="field__label"
                  for="ContactForm-email"
                  placeholder="{{ 'templates.contact.form.email' | t }}"
                >
                  {{ 'templates.contact.form.email' | t }}
                </label>
                {%- if form.errors contains 'email' -%}
                  <small class="contact-form__field-error" id="ContactForm-email-error">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </span>
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="field">
              <input
                type="tel"
                id="ContactForm-phone"
                class="field__input"
                autocomplete="tel"
                name="contact[{{ 'templates.contact.form.phone' | t }}]"
                pattern="[0-9\-]*"
                value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                placeholder="{{ 'templates.contact.form.phone' | t }}"
              >
              <label
                class="field__label"
                for="ContactForm-phone"
                placeholder="{{ 'templates.contact.form.phone' | t }}"
              >
                {{- 'templates.contact.form.phone' | t -}}
              </label>
            </div>
            <div class="field">
              <textarea
                rows="10"
                id="ContactForm-body"
                class="text-area field__input"
                name="contact[{{ 'templates.contact.form.comment' | t }}]"
                placeholder="{{ 'templates.contact.form.comment' | t }}"
                aria-required="true"
                required
              >
                {{- form.body -}}
              </textarea>
              <label
                class="form__label field__label"
                for="ContactForm-body"
                placeholder="{{ 'templates.contact.form.comment' | t }}"
              >
                {{- 'templates.contact.form.comment' | t -}}
              </label>
            </div>
            <div class="contact-form__bottom">
              <button type="submit" class="button button--primary">
                {{ 'templates.contact.form.send' | t }}
              </button>

              <div class="contact-form__add-text">
                {{ section.settings.additional_text }}
              </div>
            </div>
          {%- endform -%}
        </div>
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {% when 'image-with-text' %}
              <div class="image-with-text" {{ block.shopify_attributes }}>
                <div class="image-with-text__content">
                  {%- if block.settings.heading != blank -%}
                    <div class="subtitle">{{ block.settings.subheading }}</div>
                    <h2 class="image-with-text__heading title--section  h2">
                      {{ block.settings.heading }}
                    </h2>
                  {%- endif -%}
                  <div class="image-with-text__text">
                    {{ block.settings.text }}
                  </div>
                  <div class="image-with-text__secondary-text">
                    {{ block.settings.column_text | escape | newline_to_br }}
                  </div>
                  <div class="image-with-text__author">
                    <div class="image-with-text__author-left">
                      {%- if block.settings.image_author != blank -%}
                        <div class="image-with-text__author-avatar">
                          {%- assign image_size = block.settings.image_author | append: 'x' -%}
                          <img
                            srcset="{{ block.settings.image_author | image_url: width: 64 }} 1x, {{ block.settings.image_author | image_url: width: 128 }} 2x"
                            src="{{ block.settings.image_author | image_url: width: 64 }}"
                            width="64"
                            height="64"
                            loading="lazy"
                          >
                        </div>
                      {%- endif -%}
                      <div class="image-with-text__author-text">
                        {%- if block.settings.name != blank -%}
                          <div class="image-with-text__author-name">
                            {{ block.settings.name }}
                          </div>
                        {%- endif -%}
                        {%- if block.settings.author_position != blank -%}
                          <div class="image-with-text__author-position">
                            {{ block.settings.author_position }}
                          </div>
                        {%- endif -%}
                      </div>
                    </div>
                    {% if block.settings.image_additional %}
                      <div class="image-with-text__author-image">
                        {%- assign image_size = block.settings.image_additional | append: 'x' -%}
                        <img
                          srcset="{{ block.settings.image_additional | image_url: width: 120 }} 1x, {{ block.settings.image_additional | image_url: width: 240 }} 2x"
                          src="{{ block.settings.image_additional | image_url: width: 120 }}"
                          width="120"
                          height="auto"
                          loading="lazy"
                        >
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "spaced-section contact-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "select",
      "id": "position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.contact-form.settings.position.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.contact-form.settings.position.options__2.label"
        }
      ],
      "default": "right",
      "label": "t:sections.contact-form.settings.position.label"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "top",
          "label": "t:sections.contact-form.settings.layout.options__1.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.contact-form.settings.layout.options__2.label"
        }
      ],
      "default": "top",
      "label": "t:sections.contact-form.settings.layout.label"
    },
    {
      "type": "richtext",
      "id": "heading",
      "default": "<p>Contact form</p>",
      "label": "t:sections.contact-form.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "additional_text",
      "default": "<p>Additional text for contact form.</p>",
      "label": "t:sections.contact-form.settings.additional_text.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "image-with-text",
      "name": "t:sections.contact-form.blocks.image-with-text.name",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "default": "Subheading",
          "label": "t:sections.contact-form.blocks.image-with-text.settings.subheading.label"
        },
        {
          "type": "textarea",
          "id": "heading",
          "default": "Some heading for this section",
          "label": "t:sections.contact-form.blocks.image-with-text.settings.heading.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.contact-form.blocks.image-with-text.settings.image.label"
        },
        {
          "type": "select",
          "id": "height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.contact-form.blocks.image-with-text.settings.height.options__1.label"
            },
            {
              "value": "all-height",
              "label": "t:sections.contact-form.blocks.image-with-text.settings.height.options__2.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.contact-form.blocks.image-with-text.settings.height.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Description of your company, company history, company founders, and so on. There may be several paragraphs here.</p>",
          "label": "t:sections.contact-form.blocks.image-with-text.settings.text.label"
        },
        {
          "type": "textarea",
          "id": "column_text",
          "default": "Description of your company, company history, company founders. You can also add any text. Add text about whatever you want.",
          "label": "t:sections.contact-form.blocks.image-with-text.settings.column_text.label"
        },
        {
          "type": "image_picker",
          "id": "image_author",
          "label": "t:sections.contact-form.blocks.image-with-text.settings.image_author.label"
        },
        {
          "type": "text",
          "id": "name",
          "default": "Author name",
          "label": "t:sections.contact-form.blocks.image-with-text.settings.name.label"
        },
        {
          "type": "text",
          "id": "author_position",
          "default": "Position of author or any other text",
          "label": "t:sections.contact-form.blocks.image-with-text.settings.author_position.label"
        },
        {
          "type": "image_picker",
          "id": "image_additional",
          "label": "t:sections.contact-form.blocks.image-with-text.settings.image_additional.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.section-padding.header.content"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 200,
          "step": 10,
          "default": 0,
          "unit": "px",
          "label": "t:sections.all.section-padding.padding_top.label"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 200,
          "step": 10,
          "default": 70,
          "unit": "px",
          "label": "t:sections.all.section-padding.padding_bottom.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name",
      "blocks": [
        {
          "type": "image-with-text"
        }
      ]
    }
  ]
}
{% endschema %}
