{{ 'section-featured-products.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

{%- if settings.quickview_show == false and settings.show_color_swatch -%}
  {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{% endif %}

{%- style -%}
  {% render 'section-margin' %}
  {% render 'section-padding' %}
{%- endstyle -%}

{%- if settings.quickview_show or settings.add_to_cart_enabled -%}
  <link
    rel="preload"
    href="{{ 'section-main-product.css' | asset_url }}"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  >
  <link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="all">
  <link
    rel="preload"
    href="{{ 'quick-add.css' | asset_url }}"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  >

  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<div class="featured-products section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="container">
    {%- if section.settings.subheading != blank -%}
      <span class="featured-products__subheading featured-products__subheading--main subtitle">
        {{ section.settings.subheading }}
      </span>
    {%- endif -%}

    {%- if section.settings.heading != blank -%}
      <h2 class="{{ section.settings.heading_size }} featured-products__heading featured-products__heading--main">
        {{ section.settings.heading }}
      </h2>
    {%- endif -%}

    <ul
      class="featured-products__wrapper featured-products__wrapper-{{ section.settings.columns_mobile }}-mobile list-unstyled"
    >
      {%- if section.settings.show_info -%}
        <li class="featured-products__info">
          {%- if section.settings.info_subheading != blank -%}
            <span class="featured-products__subheading subtitle">
              {{ section.settings.info_subheading }}
            </span>
          {%- endif -%}

          {%- if section.settings.info_heading != blank -%}
            <h2 class="{{ section.settings.info_heading_size }} featured-products__heading">
              {{ section.settings.info_heading | truncate: 100, '' }}
            </h2>
          {%- endif -%}

          {%- if section.settings.text != blank -%}
            <p class="featured-products__text">
              {{ section.settings.text | truncate: 300, '' }}
            </p>
          {%- endif -%}

          {% if section.settings.show_button and section.settings.button_label != blank -%}
            <a
              {% if section.settings.button_link.url != blank %}
                href="{{ section.settings.button_link }}"
              {% endif %}
              class="featured-products__button button button--arrow button--{{ section.settings.button_style }}"
              {% if section.settings.button_link.url == blank %}
                aria-disabled="true"
              {% endif %}
            >
              <span>{{ section.settings.button_label }}</span>
              <span>{% render 'icon-button-arrow' %}</span>
            </a>
          {% endif %}
        </li>
      {%- endif -%}
      {%- for product in section.settings.product_list -%}
        <li
          class="
            collection-product-card
            quickview{%- if settings.quickview_hover -%}--hover{% endif %}
          "
        >
          {% render 'product-card',
            product_card_product: product,
            media_size: section.settings.image_ratio,
            media_fit: section.settings.image_fit,
            show_secondary_image: section.settings.show_secondary_image,
            show_vendor: section.settings.show_vendor,
            show_desc: section.settings.show_desc,
            show_sku: section.settings.show_sku,
            section_id: section.id
          %}
        </li>
      {%- else -%}
        {%- for i in (1..4) -%}
          <li class="collection-product-card">
            {% render 'product-card-placeholder', media_size: 'square' %}
          </li>
        {%- endfor -%}
      {%- endfor -%}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-products.name",
  "tag": "section",
  "class": "featured-products-section spaced-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.all.color_scheme.options__1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.color_scheme.options__2.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "default": "Subheading",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Heading",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-products.settings.info_block.content"
    },
    {
      "type": "checkbox",
      "id": "show_info",
      "default": true,
      "label": "t:sections.featured-products.settings.show_info.label",
      "info": "t:sections.featured-products.settings.show_info.info"
    },
    {
      "type": "text",
      "id": "info_subheading",
      "default": "Subheading",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "text",
      "id": "info_heading",
      "default": "Heading",
      "label": "t:sections.all.heading.label",
      "info": "t:sections.featured-products.settings.heading.info"
    },
    {
      "type": "select",
      "id": "info_heading_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "textarea",
      "id": "text",
      "default": "Some description",
      "label": "t:sections.all.text.label",
      "info": "t:sections.featured-products.settings.text.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.button.header_button.content"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "default": false,
      "label": "t:sections.all.button.button_show.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.all.button.button_style.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Explore Our Store",
      "label": "t:sections.all.button.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button.button_link.label"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "limit": 12,
      "label": "t:sections.featured-products.settings.product_list.label"
    },
		{
      "type": "select",
      "id": "columns_mobile",
      "default": "1",
      "label": "t:sections.all.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.all.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.all.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.card.header_card.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.all.card.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.card.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.card.image_ratio.options__3.label"
        }
      ],
      "default": "square",
      "label": "t:sections.all.card.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.all.card.image_fit.label",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.all.card.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.all.card.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_desc",
      "default": false,
      "label": "t:sections.all.card.show_desc.label"
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "default": false,
      "label": "t:sections.all.card.show_sku.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-products.name"
    }
  ]
}
{% endschema %}
