{{ 'section-gift-card-header.css' | asset_url | stylesheet_tag }}

<header class="gift-card-header">
	<a
		href="{{ routes.root_url }}"
		class="header__heading-link link link--text focus-inset"
		aria-label="{{ shop.name }}"
	>
		{%- if section.settings.logo != blank -%}
			{%- assign image_size = section.settings.logo_width | append: 'x' -%}
			{%- assign image_size_2x = section.settings.logo_width | times: 2 | at_most: 5760 -%}
			<img
				srcset="{{ section.settings.logo | image_url: width: image_size }} 1x, {{ section.settings.logo | image_url: width: image_size_2x }} 2x"
				src="{{ section.settings.logo | image_url: width: image_size }}"
				class="header__heading-logo"
				width="{{ section.settings.logo_width }}"
				height="{{ section.settings.logo.height }}"
				alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
				loading="lazy"
			>
		{%- else -%}
			<span class="h2">{{ shop.name }}</span>
		{%- endif -%}
	</a>
</header>

{% schema %}
{
	"name": "t:sections.gift-card-header.name",
	"class": "spaced-section gift-card-header-section",
	"tag": "section",
	"enabled_on": {
		"templates": ["gift_card"]
	},
	"settings": [
		{
			"type": "image_picker",
			"id": "logo",
			"label": "t:sections.gift-card-header.settings.logo.label"
		},
		{
			"type": "range",
			"id": "logo_width",
			"min": 50,
			"max": 350,
			"step": 5,
			"default": 90,
			"unit": "px",
			"label": "t:sections.gift-card-header.settings.logo_width.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.gift-card-header.name"
		}
	]
}
{% endschema %}
