{{ 'section-home-newsletter.css' | asset_url | stylesheet_tag: preload: true }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_m }}px;
    padding-bottom: {{ section.settings.padding_bottom_m }}px;
    background-color: {{ section.settings.background }};
  }
  .section-{{ section.id }}-padding .newsletter-heading h3,
  .section-{{ section.id }}-padding .newsletter-info p {
    color: {{ section.settings.color }};
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="home-newsletter-wrapper section-{{ section.id }}-padding" id="section-{{ section.id }}">
  <div class="container">
        <div class="row align-items-center">
            {% for block in section.blocks %}
                {% liquid
                    assign heading = block.settings.heading
                %}
                {%- case block.type -%}
                  {%- when 'heading' -%}
                    <div class="col-lg-3 col-md-6 col-sm-6" {{ block.shopify_attributes }}>
                        <div class="newsletter-heading home-newletter-item">
                            <h3>{{ heading }}</h3>
                        </div>
                    </div>
                    {%- when 'info' -%}
                      {% liquid
                        assign info = block.settings.info
                      %}
                      <div class="col-lg-4 col-md-6 col-sm-6" {{ block.shopify_attributes }}>
                          <div class="newsletter-info home-newletter-item">
                              <p>{{ info }}</p>
                          </div>
                      </div>
                      {%- when 'newsletter' -%}
                        {% liquid
                          assign button = block.settings.button
                          assign placeholder = block.settings.placeholder
                        %}
                        <div class="col-lg-5 col-md-12 col-sm-12" {{ block.shopify_attributes }}>
                            <div class="newsletter-wrapper home-newletter-item">
                              {% form 'customer', id: "home-newsletter-form" , class: 'home-newsletter-form' %}
                                <div class="newsletter-form-inner">
                                  <input type="hidden" name="contact[tags]" value="newsletter">
                                  <div class="newsletter-form-field-wrap">
                                    <label class="field__label" for="NewsletterForm--{{ section.id }}" type="hidden">
                                        {{- 'newsletter.label' | t -}}
                                      </label>
                                      <input
                                        id="NewsletterForm--{{ section.id }}"
                                        type="email"
                                        name="contact[email]"
                                        class="field__input"
                                        value="{{ form.email }}"
                                        aria-required="true"
                                        autocorrect="off"
                                        autocapitalize="off"
                                        autocomplete="email"
                                        {% if form.errors %}
                                          autofocus
                                          aria-invalid="true"
                                          aria-describedby="Newsletter-error--{{ section.id }}"
                                        {% elsif form.posted_successfully? %}
                                          aria-describedby="Newsletter-success--{{ section.id }}"
                                        {% endif %}
                                        placeholder="{{ placeholder }}"
                                        required
                                      >
                                    {%- if form.errors -%}
                                      <small
                                        class="newsletter-form__message form__message"
                                        id="Newsletter-error--{{ section.id }}"
                                      >
                                        {%- render 'icon-error' -%}
                                        {{- form.errors.translated_fields.email | capitalize }}
                                        {{ form.errors.messages.email -}}
                                      </small>
                                    {%- endif -%}
                                  </div>
                                  <button
                                    type="submit"
                                    class="button"
                                    name="commit"
                                  >
                                    <span>{{ button }}</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                                      <ellipse cx="12.6009" cy="12.873" rx="11.8753" ry="11.9062" fill="white"/>
                                      <rect x="5.71252" y="14.873" width="3" height="12.19" transform="rotate(-90 5.71252 14.873)" fill="black"/>
                                      <rect width="2.9961" height="7.86004" transform="matrix(-0.706186 -0.708027 0.706186 -0.708027 14.6736 18.873)" fill="black"/>
                                      <rect width="2.9961" height="7.86004" transform="matrix(0.706186 -0.708027 0.706186 0.708027 12.558 9.86621)" fill="black"/>
                                    </svg>
                                  </button>
                                </div>
                                {%- if form.posted_successfully? -%}
                                  <h3
                                    class="newsletter-form__message newsletter-form__message--success form__message"
                                    id="Newsletter-success--{{ section.id }}"
                                    tabindex="-1"
                                    autofocus
                                  >
                                    {% render 'icon-success' -%}
                                    {{- 'newsletter.success' | t }}
                                  </h3>
                                {%- endif -%}
                              {% endform %}
                            </div>
                        </div>
            {%- endcase -%}
        {% endfor %}
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Home Newsletter",
    "class": "home-newsletter-section",
    "tag": "section",
    "enabled_on": {
      "templates": ["*"]
    },
    "settings": [
      {
        "type": "color",
        "id": "color",
        "label": "Text Color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Section Bakground",
        "default": "#FF003D"
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding Top",
        "default": 100
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 100
      }, {
        "type": "range",
        "id": "padding_top_m",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding Top (Mobile)",
        "default": 64
      }, {
        "type": "range",
        "id": "padding_bottom_m",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding Bottom (Mobile)",
        "default": 68
      }
    ],
    "blocks": [
    {
        "name": "Heading",
        "type": "heading",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }
        ]
      },
      {
        "name": "Info",
        "type": "info",
        "settings": [
          {
            "type": "textarea",
            "id": "info",
            "label": "Info"
          }
        ]
      },
      {
        "name": "Newsletter",
        "type": "newsletter",
        "settings": [
          {
            "type": "text",
            "id": "button",
            "label": "Button Text"
          },
          {
            "type": "text",
            "id": "placeholder",
            "label": "Placeholder Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home Newsletter"
      }
    ]
  }
{% endschema %}