{% assign value = section.settings %}

{{ 'section-landing-paint.css' | asset_url | stylesheet_tag: preload: true }}
{%- style -%}
  .section-{{ section.id }}-padding {
    margin-top: {{ section.settings.margin_top-m }}px;
    margin-bottom: {{ section.settings.margin_bottom-m }}px;
    padding-top: {{ section.settings.padding_top_m  }}px;
    padding-bottom: {{ section.settings.padding_bottom_m }}px;

    background: {{ section.settings.background_color }};
    color: {{ section.settings.color }};
    background-image: url('{{ value.bg_img | image_url }}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
  }
  .section-{{ section.id }}-padding .swiper{
    /* overflow: visible; */
  }
  .section-{{ section.id }}-padding .swiper-slide{
    height: auto;
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign slidesDesktop = section.settings.desktop_item %}
{% assign slidesLaptop = section.settings.laptop_item %}
{% assign slidesTab = section.settings.tab_item %}
{% assign slidesMobile = section.settings.mobile_item %}
{% assign direction = section.settings.reverse %}
{% assign autoPlay = section.settings.autoplay_enabled %}
{% assign loop = section.settings.loop_enabled %}
{% assign delay = section.settings.autoplay_timeout | times: 1000 %}

<div class="section-{{ section.id }}-padding" id="section-{{ section.id }}">
  <div class="landing-paint-wrapper container">
    <div class="heading-container">
      {% for block in section.blocks %}
        {% if block.type == 'title' %}
          <h3 class="section-heading" style="color: {{ value.color }};" {{ block.shopify_attributes }}>{{ block.settings.title }}</h3>
        {% endif %}
      {% endfor %}
      {% for block in section.blocks %}
        {% if block.type == 'text' %}
          <div style="color: {{ value.color }};" class="text" {{ block.shopify_attributes }}>
            {{ block.settings.text }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="paint-box">
      <slider-component>
        <div
          class="common__slideshow landing__paint_swiper swiper"
          data-slidesDesktop="{{ slidesDesktop }}"
          data-slidesdesktop="{{ slidesDesktop }}"
          data-slidesLaptop="{{ slidesLaptop }}"
          data-slidesTab="{{ slidesTab }}"
          data-slidesMobile="{{ slidesMobile }}"
          data-direction="{{ direction }}"
          data-autoPlay="{{ autoPlay }}"
          data-delay="{{ delay }}"
          data-loop="{{ loop }}"
          data-freemode="false"
          data-freemomentum="false"
          data-speed="1000"
          data-desktopspace="20"
          data-laptopspace="20"
          data-tabspace="20"
          data-mobilespace="15"
        >
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {% if block.type == 'card' %}
                {% assign val = block.settings %}
                <div class="swiper-slide">
                  <div
                    style="color: {{ val.color }};background-color: {{ val.bg_color }};"
                    class="landing-paint-box-item"
                    {{ block.shopify_attributes }}
                  >
                    <div class="paint-item-icon">
                      <div class="icon-container">
                        {{ val.icon }}
                      </div>
                    </div>
                    <div class="paint-item-image">
                      <img src="{{ val.img | image_url }}" alt="Card Image">
                    </div>
                    <div class="text">{{ val.text }}</div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="landing-paint-navigation">
          <div class="landing-paint-prev swiper-button-prev">
            {% render 'all-icons', name: 'paint-left-nav' %}
          </div>
          <div class="landing-paint-next swiper-button-next">
            {% render 'all-icons', name: 'paint-right-nav' %}
          </div>
        </div>
      </slider-component>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Landing Paint",
  "class": "landing-paint-section",
  "tag": "section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background Image"
    },
    {
      "type": "range",
      "id": "desktop_item",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 4,
      "label": "Desktop (1440+)"
    },
    {
      "type": "range",
      "id": "laptop_item",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 4,
      "label": "Laptop (991+)"
    },
    {
      "type": "range",
      "id": "tab_item",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 4,
      "label": "Tab (480+)"
    },
    {
      "type": "range",
      "id": "mobile_item",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 4,
      "label": "Mobile (360+)"
    },
    {
      "type": "checkbox",
      "id": "autoplay_enabled",
      "label": "Enable Autoplay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "loop_enabled",
      "label": "Enable Loop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "reverse",
      "label": "Enable Reverse",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_timeout",
      "label": "Change Slides Every",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 7,
      "unit": "s"
    },
    {
      "type": "header",
      "content": "Section Color"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background color",
      "default": "linear-gradient(180deg, #0232D9 0%, #0029BB 21.46%, #05207A 83.33%)"
    },
    {
      "type": "header",
      "content": "Spacing (Desktop)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top",
      "default": 64
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 100
    },
    {
      "type": "header",
      "content": "Spacing (Mobile)"
    },
    {
      "type": "range",
      "id": "margin_top-m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top (Mobile)",
      "default": 40
    },
    {
      "type": "range",
      "id": "margin_bottom-m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom (Mobile)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 68
    }
  ],
  "blocks": [
    {
      "name": "Title",
      "type": "title",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Our paint Cycle"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "We understand how important it is finding the right product, so whether you're a business or a first time painter, We've made the best possible product finder to find the right product."
        }
      ]
    },
    {
      "name": "Card",
      "type": "card",
      "settings": [
        {
          "type": "color",
          "id": "color",
          "label": "Text color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background color",
          "default": "#000"
        },
        {
          "type": "html",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Customer buys the right amount of paint"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Landing Paint"
    }
  ]
}
{% endschema %}