{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
<script src="{{ 'load-more.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  {% render 'section-padding' %}
{%- endstyle -%}

{%- paginate blog.articles by 24 -%}
  <div class="main-blog container section-{{ section.id }}-padding">
    <div class="page-header">
      <div class="page-header__inner">
        <h1 class="main-page-title page-title title--page">{{ blog.title | escape }}</h1>
      </div>
    </div>

    <ul class="blog-articles {% if blog.articles.size > 5 %} blog-articles__grid {% endif %} load-more-grid">
      {%- for article in blog.articles -%}
        <li class="blog-articles__article article">
          {%- render 'article-card',
            article: article,
            show_image: section.settings.show_image,
            show_tags: section.settings.show_tags,
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: section.settings.show_excerpt
          -%}
        </li>
      {%- endfor -%}
    </ul>

    {%- if paginate.pages > 1 -%}
      {%- if settings.pagination_type == 'load_more' -%}
        {% render 'load-more',
          next_url: paginate.next.url,
          count_pages: paginate.pages,
          current_page: paginate.current_page
        %}
        <div class="js-hidden">
          {% render 'pagination', paginate: paginate %}
        </div>
      {%- elsif settings.pagination_type == 'infinite_scroll' -%}
        {% render 'infinite-scroll',
          next_url: paginate.next.url,
          count_pages: paginate.pages,
          current_page: paginate.current_page
        %}
        <div class="js-hidden">
          {% render 'pagination', paginate: paginate %}
        </div>
      {% else %}
        {% render 'pagination', paginate: paginate %}
      {%- endif -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section-main-blog",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label",
      "info": "t:sections.main-blog.settings.show_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": true,
      "label": "t:sections.main-blog.settings.show_tags.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": false,
      "label": "t:sections.main-blog.settings.show_excerpt.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ]
}
{% endschema %}
