{{ 'section-marquee-text.css' | asset_url | stylesheet_tag: preload: true }}
{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_m  }}px;
      padding-bottom: {{ section.settings.padding_bottom_m }}px;
    }
  
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}
{% assign slidesDesktop = section.settings.desktop_item %}
{% assign slidesLaptop = section.settings.laptop_item %}
{% assign slidesTab = section.settings.tab_item %}
{% assign slidesMobile = section.settings.mobile_item %}
{% assign direction = section.settings.reverse %}
{% assign autoPlay = section.settings.autoplay_enabled %}
{% assign loop = section.settings.loop_enabled %}
{% assign delay = section.settings.autoplay_timeout | times: 1000 %}
<div 
class="marquee-text-wrapper {{ section.settings.rotate }} section-{{ section.id }}-padding" 
id="section-{{ section.id }}">
    <div class="section-bg">
      {%- if section.settings.background != blank -%}
        {{
          section.settings.background
        | image_url: width: auto
        | image_tag: loading: 'lazy'
        }}
        {%- endif -%}
    </div>


    <slider-component >

    <div class="common__slideshow swiper swiper-marquee-text"
      data-slidesdesktop="{{ slidesDesktop }}"
      data-slidesLaptop="{{ slidesLaptop }}"
      data-slidesTab="{{ slidesTab }}"
      data-slidesMobile="{{ slidesMobile }}"
      data-direction="{{ direction }}"
      data-autoPlay="{{ autoPlay }}"
      data-delay="{{ delay }}"
      data-loop="{{ loop }}"
      data-freemode="false"
      data-freemomentum="false"
      data-speed="5000"
      data-desktopspace="88"
      data-laptopspace="60"
      data-tabspace="30"
      data-mobilespace="15"
      >
        <div class="swiper-wrapper">
        {% for block in section.blocks %}
              {%- if block.type == 'item' -%}
              {%- liquid
              assign image = block.settings.image
              assign svg = block.settings.svg
              assign title = block.settings.title
              assign link = block.settings.link
              -%}
                  <div class="marquee-text-item swiper-slide" {{ block.shopify_attributes }}>
                    <div class="marquee-item-wrap">
                        <div class="marquee-image">
                            {%- if image != blank -%}
                            {{
                            image
                            | image_url: width: auto
                            | image_tag: loading: 'lazy'
                            }}
                            {%- endif -%}
                            {%- if svg != blank -%}
                            {{ svg  }}
                            {%- endif -%}
                        </div>
                        <div class="marquee-text">
                            <a href="{{ link }}">{{ title }}</a>
                        </div>
                    </div>
                  </div>
            {%- endif -%}
        {% endfor %}
        </div>
    </div>
  </slider-component>
</div>
{% schema %}
{
  "name": "Marquee Text",
  "class": "marquee-text-section",
  "tag": "section",
  "enabled_on": {
    "templates": ["*"]
  },
"settings": [
    {
      "type": "range",
      "id": "desktop_item",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 4,
      "label": "Desktop (1440+)"
    },
    {
      "type": "range",
      "id": "laptop_item",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 4,
      "label": "Laptop (991+)"
    },
    {
      "type": "range",
      "id": "tab_item",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 4,
      "label": "Tab (480+)"
    },
    {
      "type": "range",
      "id": "mobile_item",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 4,
      "label": "Mobile (360+)"
    },
    {
      "type": "checkbox",
      "id": "autoplay_enabled",
      "label": "Enable Autoplay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "loop_enabled",
      "label": "Enable Loop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "reverse",
      "label": "Enable Reverse",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_timeout",
      "label": "Change Slides Every",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 7,
      "unit": "s"
    },
    {
        "type" : "image_picker",
        "id" : "background",
        "label": "Bakground"
    },
    {
      "type": "select",
      "id": "rotate",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "plus",
          "label": "Plus"
        },
        {
          "value": "minus",
          "label": "Minus"
        }
      ],
      "default": "none",
      "label": "Rotate"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 68
    }
],
"blocks": [
    {
    "name": "Item",
    "type": "item",
    "settings": [
                {
                    "type" : "image_picker",
                    "id" : "image",
                    "label": "Image"
                },
                {
                    "type" : "liquid",
                    "id" : "svg",
                    "label": "Icon"
                },
                {
                    "type" : "richtext",
                    "id" : "title",
                    "label": "Text"
                },
                {
                    "type" : "url",
                    "id" : "link",
                    "label": "Link"
                }
            ]
        }
],
"presets": [{
"name": "Marquee Text"
}]
}
{% endschema %}