{{ 'section-outlet-tutorial.css' | asset_url | stylesheet_tag: preload: true }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_m }}px;
    padding-bottom: {{ section.settings.padding_bottom_m }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="outlet-tutorial section-{{ section.id }}-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="outlet-tutorial-header">
          {% if section.settings.heading != blank %}
            <h2>{{ section.settings.heading }}</h2>
          {% endif %}
          {% if section.settings.text != blank %}
            {{ section.settings.text }}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-xxl-12 m-auto">
          <div class="scroll"> 
            <ul class="blog-tabs">
            {% for block in section.blocks %}
                {% assign heading = block.settings.heading %}
                <li class="blog-tab {%if forloop.index == 1 %} current {% endif %}" data-tab="tab-{{block.id}}-{{forloop.index}}">{{ heading }}</li>
            {%- endfor -%}
            </ul>
          </div>
        </div>
     </div>
  </div>

  <div class="inner-container container">
    {% for block in section.blocks %}
        <div id="tab-{{block.id}}-{{forloop.index}}" class="blog-content {%if forloop.index == 1 %} current {% endif %} ">
            <slider-component >
            <div class="common__slideshow swiper blog__slider list-unstyled"
                data-slidesdesktop="4"
                data-slidesLaptop="4"
                data-slidesTab="2"
                data-slidesMobile="1.5"
                data-direction="false"
                data-autoPlay="false"
                data-delay="0"
                data-loop="true"
                data-freemode="false"
                data-freemomentum="false"
                data-speed="500"
                data-desktopspace="20"
                data-laptopspace="20"
                data-tabspace="20"
                data-mobilespace="15"
             >
                <div class="swiper-wrapper blog-list">
                {%- for article in block.settings.choose_blog.articles limit: block.settings.blogs_limit -%}
           
                <div
                  class="swiper-slide blog-card">
                  
                  {%- if  article.image -%}
                    <div class="article-card__image-wrapper">

                        {{ article.image | image_url: width: auto | image_tag: loading: 'lazy' }}

                      

                        <div class="overlay-text">

                            <div class="inner-text">
                                <a href="{{ article.url }}" class="overlay-link"></a>

                                <svg class="arrow" width="91" height="90" viewBox="0 0 91 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.19984 0.999886C45.0998 -6.60011 81.2998 30.4999 81.6998 71.8999C82.5998 70.3999 83.4998 68.7999 84.3998 67.2999C85.7998 64.8999 90.2998 65.6999 89.9998 68.7999C89.2998 75.1999 85.7998 88.3999 77.6998 89.3999C74.7998 89.6999 72.9998 88.0999 71.0998 86.1999C66.4998 81.5999 62.0998 76.0999 58.3998 70.6999C56.6998 68.1999 60.3998 65.5999 62.3998 67.5999C66.4998 71.4999 69.8998 77.7999 74.2998 80.9999C74.4998 81.1999 74.7998 81.2999 74.9998 81.4999C77.9998 61.3999 71.8998 40.2999 57.8998 25.4999C43.1998 9.99989 22.5998 3.59989 1.69984 4.39989C-0.200158 4.39989 -0.700157 1.29989 1.19984 0.999886Z" fill="white"/>
                                    </svg>
                                    
                                <h2 class="article-card__title h4">
                                    <a href="{{ article.url }}">
                                        {{ article.title | escape }}
                                    </a>
                                </h2>
                            
                            </div>
                      
                        </div>

                        <a href="{{ article.url }}" class="read-more-btn">Read <span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="11.9062" cy="11.9062" r="11.9062" fill="black"/>
                            <rect x="5" y="13.9062" width="3" height="12.2217" transform="rotate(-90 5 13.9062)" fill="white"/>
                            <rect x="13.9844" y="17.9062" width="3" height="7.87027" transform="rotate(-135 13.9844 17.9062)" fill="white"/>
                            <rect x="11.8633" y="8.89941" width="3" height="7.87027" transform="rotate(-45 11.8633 8.89941)" fill="white"/>
                            </svg>
                            </span></a>

                    </div>
                {%- endif -%}
                </div>
              {%- else -%}
                {%- for i in (1..section.settings.blog_limit ) -%}
                  <div class="blog-card swiper-slide">                 
                  </div>
                {%- endfor -%}
              {%- endfor -%}
            </div>

            </div> 

            <div class="blog-navigation">
                <div class="swiper-button-prev">
                   <svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <g filter="url(#filter0_d_1447_211)">
                       <circle cx="30" cy="30" r="30" transform="matrix(-1 0 0 1 68 4)" fill="white"/>
                       <rect width="3" height="12.2217" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 45 35.9062)" fill="black"/>
                       <rect width="3" height="7.87027" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 36.0156 39.9062)" fill="black"/>
                       <rect width="3" height="7.87027" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 38.1367 30.8994)" fill="black"/>
                       </g>
                       <defs>
                       <filter id="filter0_d_1447_211" x="0" y="0" width="76" height="76" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                       <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                       <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                       <feOffset dy="4"/>
                       <feGaussianBlur stdDeviation="4"/>
                       <feComposite in2="hardAlpha" operator="out"/>
                       <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0"/>
                       <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1447_211"/>
                       <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1447_211" result="shape"/>
                       </filter>
                       </defs>
                       </svg>
                       
               </div>
               <div class="swiper-button-next">
                   <svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <g filter="url(#filter0_d_1447_205)">
                       <circle cx="38" cy="34" r="30" fill="white"/>
                       <rect x="31" y="35.9062" width="3" height="12.2217" transform="rotate(-90 31 35.9062)" fill="black"/>
                       <rect x="39.9844" y="39.9062" width="3" height="7.87027" transform="rotate(-135 39.9844 39.9062)" fill="black"/>
                       <rect x="37.8633" y="30.8994" width="3" height="7.87027" transform="rotate(-45 37.8633 30.8994)" fill="black"/>
                       </g>
                       <defs>
                       <filter id="filter0_d_1447_205" x="0" y="0" width="76" height="76" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                       <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                       <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                       <feOffset dy="4"/>
                       <feGaussianBlur stdDeviation="4"/>
                       <feComposite in2="hardAlpha" operator="out"/>
                       <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0"/>
                       <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1447_205"/>
                       <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1447_205" result="shape"/>
                       </filter>
                       </defs>
                       </svg>
                       
               </div>
           </div>
         </slider-component>

       </div>
    {%- endfor -%}


    {% if section.settings.btn_label != blank %}
      <div class="outlet-btn">
      <a href="{{section.settings.btn_url }}" class="button">{{section.settings.btn_label }}</a>
      </div>
    {% endif %}


  </div>
</section>

{% schema %}
{
  "name": "Outlet Tutorial",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "default": "Paint Outlet Tutorials",
      "label": "Text"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>We understand how important it is finding the right product, so whether you're a business or a first time painter, We've made the best possible product finder to find the right product.</p>",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 126
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 76
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 70
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 70
    },
    {
      "type": "text",
      "id": "btn_label",
      "default": "View More",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    }
  ],
  "blocks": [
    {
      "name": "Blog",
      "type": "blog",
      "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
        {
          "type": "blog",
          "id": "choose_blog",
          "label": "Choose Blog"
        },
        {
            "type": "range",
            "id": "blogs_limit",
            "min": 4,
            "max": 24,
            "step": 1,
            "default": 12,
            "label": "Blogs Limit"
          }
      ]
    }
  ],
  "presets": [
    {
      "name": "Outlet Tutorial"
    }
  ]
}
{% endschema %}
