{%- style -%}
  #shopify-section-{{ section.id }} .popup-main .popup-container {
    background-color: {{ section.settings.background-color }};
  }

  #shopify-section-{{ section.id }} .popup-main .popup-heading {
    color: {{ section.settings.heading-color }}
  }

  #shopify-section-{{ section.id }} .popup-main .popup-text {
    color: {{ section.settings.text-color }}
  }

  #shopify-section-{{ section.id }} .popup-main .popup-text a {
    color: {{ section.settings.link-color }}
  }

  #shopify-section-{{ section.id }} .popup-main .popup-text a:hover {
    color: {{ section.settings.link-color-hover }}
  }

  #shopify-section-{{ section.id }} .popup-main .popup-close {
    color: {{ section.settings.icon-color }}
  }

  #shopify-section-{{ section.id }} .popup-main .popup-close:hover {
    color: {{ section.settings.icon-color-hover }}
  }
{%- endstyle -%}

{% liquid
  if section.settings.layout == 'bar'
    if section.settings.position != 'bottom' and section.settings.position != 'top'
      assign width = section.settings.width | append: 'px'
    else
      assign width = '100%'
    endif
  else
    assign width = section.settings.width | append: 'px'
  endif
%}

<div
  class="
    popup-main popup
    popup--{{ section.settings.position }}
    popup-main-image--{{ section.settings.image_layout }}
    {% if section.settings.image == blank %} popup-main--no-image {% endif %}
  "
  {% if section.settings['popup-id'] != blank %}
    id="{{ section.settings.popup-id }}"
  {% endif %}
  data-limit-display="{{ section.settings.limit-display }}"
  data-limit-lifetime="{{ section.settings.limit-cache }}"
  data-open-trigger="{{ section.settings.trigger-open }}"
  data-open-delay-number="{{ section.settings.trigger-open-delay }}"
  data-open-scroll-position="{{ section.settings.open-scroll-position }}"
  data-open-scroll-type="{{ section.settings.open-scroll-type }}"
  {% if section.settings['manual-selector'] != blank %}
    data-open-manual-selector="{{ section.settings.manual-selector }}"
  {% endif %}
  data-close-trigger="{{ section.settings.trigger-close }}"
  data-close-delay-number="{{ section.settings.trigger-close-delay }}"
  data-close-scroll-position="{{ section.settings.close-scroll-position }}"
  data-close-scroll-type="{{ section.settings.close-scroll-type }}"
  data-open-animation="popupOpen{{ section.settings.open-animation }}"
  data-exit-animation="popupExit{{ section.settings.exit-animation }}"
  data-overlay="{{ section.settings.show-overlay }}"
  data-mobile-disable="{{ section.settings.mobile }}"
  data-body-scroll-disable="{{ section.settings.scrolling }}"
  data-overlay-close="{{ section.settings.overlay-close }}"
  data-esc-close="{{ section.settings.esc-close }}"
  data-f4-close="{{ section.settings.f4-close }}"
  data-id="{{ section.id }}"
  style="width: {{ width }}"
>
  <div class="popup-wrap">
    <div class="popup-container">
      <div class="popup-outer {%- if section.settings.image != blank %} popup-outer_image {% endif %}">
        {% if section.settings.image != blank %}
          <div class="popup-thumbnail">
            {% capture style %}
            object-fit: {{ section.settings.image_fit }};
          {% endcapture %}
            {{
              section.settings.image
              | image_url: width: section.settings.image.width
              | image_tag: loading: 'lazy', widths: '275, 550, 750', style: style
            }}
          </div>
        {% endif %}
        <div class="popup-content">
          <div class="popup-wraper-text">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'popup_heading' -%}
                  {% if block.settings.heading != blank %}
                    <h2 class="popup-heading" {{ block.shopify_attributes }}>
                      {{ block.settings.heading }}
                    </h2>
                  {% endif %}
                {%- when 'subscribe_form' -%}
                  {% form 'customer', class: 'newsletter-form' %}
                    <div
                      class="newsletter-form__inner {% if section.settings.width < 400 %} newsletter-form__inner_column {% endif %}"
                      {{ block.shopify_attributes }}
                    >
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <div class="newsletter-form__field-wrapper">
                        <div class="field">
                          <input
                            id="NewsletterForm--{{ section.id }}"
                            type="email"
                            name="contact[email]"
                            class="field__input field"
                            value="{{ form.email }}"
                            aria-required="true"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="email"
                            {% if form.errors %}
                              autofocus
                              aria-invalid="true"
                              aria-describedby="Newsletter-error--{{ section.id }}"
                            {% elsif form.posted_successfully? %}
                              aria-describedby="Newsletter-success--{{ section.id }}"
                            {% endif %}
                            placeholder="{{ block.settings.placeholder_input }}"
                            required
                          >
                          <label
                            class="field__label"
                            for="NewsletterForm--{{ section.id }}"
                            type="hidden"
                          >
                            {{ block.settings.placeholder_input }}
                          </label>
                        </div>
                        {%- if form.errors -%}
                          <small
                            class="newsletter-form__message form__message"
                            id="Newsletter-error--{{ section.id }}"
                          >
                            {%- render 'icon-error' -%}
                            {{- form.errors.translated_fields.email | capitalize }}
                            {{ form.errors.messages.email -}}
                          </small>
                        {%- endif -%}
                      </div>
                      <button
                        type="submit"
                        class="button button--{{ block.settings.button_style }}"
                        name="commit"
                      >
                        {{ block.settings.button_label }}
                      </button>
                    </div>
                    {%- if form.posted_successfully? -%}
                      <h3
                        class="newsletter-form__message newsletter-form__message--success form__message"
                        id="Newsletter-success--{{ section.id }}"
                        tabindex="-1"
                        autofocus
                      >
                        {% render 'icon-success' -%}
                        {{- 'newsletter.success' | t }}
                      </h3>
                    {%- endif -%}
                  {% endform %}
                  {% if block.settings.description %}
                    <div class="popup-text" {{ block.shopify_attributes }}>
                      {{ block.settings.description }}
                    </div>
                  {% endif %}
                {%- when 'social_links' -%}
                  {%- style -%}
                    #shopify-section-{{ section.id }} .popup-main .list-social__item .icon {
                      color: {{ block.settings.icon-color }};
                    }
                    #shopify-section-{{ section.id }} .popup-main .list-social__item:hover .icon {
                      color: {{ block.settings.icon-color-hover }};
                    }
                  {%- endstyle -%}
                  <ul
                    class="list-unstyled list-social"
                    role="list"
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.show_twitter and settings.social_twitter_link != blank -%}
                      <li class="list-social__item">
                        <a
                          {% if settings.new_tab %}
                            target="_blank"
                          {% endif %}
                          href="{{ settings.social_twitter_link }}"
                          class="link link--text list-social__link"
                          aria-describedby="a11y-external-message"
                        >
                          {%- render 'icon-twitter' -%}
                          <span class="visually-hidden">
                            {{- 'general.social.links.twitter' | t -}}
                          </span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if block.settings.show_facebook and settings.social_facebook_link != blank -%}
                      <li class="list-social__item">
                        <a
                          {% if settings.new_tab %}
                            target="_blank"
                          {% endif %}
                          href="{{ settings.social_facebook_link }}"
                          class="link link--text list-social__link"
                          aria-describedby="a11y-external-message"
                        >
                          {%- render 'icon-facebook' -%}
                          <span class="visually-hidden">
                            {{- 'general.social.links.facebook' | t -}}
                          </span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if block.settings.show_pinterest and settings.social_pinterest_link != blank -%}
                      <li class="list-social__item">
                        <a
                          {% if settings.new_tab %}
                            target="_blank"
                          {% endif %}
                          href="{{ settings.social_pinterest_link }}"
                          class="link link--text list-social__link"
                          aria-describedby="a11y-external-message"
                        >
                          {%- render 'icon-pinterest' -%}
                          <span class="visually-hidden">
                            {{- 'general.social.links.pinterest' | t -}}
                          </span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if block.settings.show_instagram and settings.social_instagram_link != blank -%}
                      <li class="list-social__item">
                        <a
                          {% if settings.new_tab %}
                            target="_blank"
                          {% endif %}
                          href="{{ settings.social_instagram_link }}"
                          class="link link--text list-social__link"
                          aria-describedby="a11y-external-message"
                        >
                          {%- render 'icon-instagram' -%}
                          <span class="visually-hidden">
                            {{- 'general.social.links.instagram' | t -}}
                          </span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if block.settings.show_tiktok and settings.social_tiktok_link != blank -%}
                      <li class="list-social__item">
                        <a
                          {% if settings.new_tab %}
                            target="_blank"
                          {% endif %}
                          href="{{ settings.social_tiktok_link }}"
                          class="link link--text list-social__link"
                          aria-describedby="a11y-external-message"
                        >
                          {%- render 'icon-tiktok' -%}
                          <span class="visually-hidden">
                            {{- 'general.social.links.tiktok' | t -}}
                          </span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if block.settings.show_tumblr and settings.social_tumblr_link != blank -%}
                      <li class="list-social__item">
                        <a
                          {% if settings.new_tab %}
                            target="_blank"
                          {% endif %}
                          href="{{ settings.social_tumblr_link }}"
                          class="link link--text list-social__link"
                          aria-describedby="a11y-external-message"
                        >
                          {%- render 'icon-tumblr' -%}
                          <span class="visually-hidden">
                            {{- 'general.social.links.tumblr' | t -}}
                          </span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if block.settings.show_snapchat and settings.social_snapchat_link != blank -%}
                      <li class="list-social__item">
                        <a
                          {% if settings.new_tab %}
                            target="_blank"
                          {% endif %}
                          href="{{ settings.social_snapchat_link }}"
                          class="link link--text list-social__link"
                          aria-describedby="a11y-external-message"
                        >
                          {%- render 'icon-snapchat' -%}
                          <span class="visually-hidden">
                            {{- 'general.social.links.snapchat' | t -}}
                          </span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if block.settings.show_youtube and settings.social_youtube_link != blank -%}
                      <li class="list-social__item">
                        <a
                          {% if settings.new_tab %}
                            target="_blank"
                          {% endif %}
                          href="{{ settings.social_youtube_link }}"
                          class="link link--text list-social__link"
                          aria-describedby="a11y-external-message"
                        >
                          {%- render 'icon-youtube' -%}
                          <span class="visually-hidden">
                            {{- 'general.social.links.youtube' | t -}}
                          </span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if block.settings.show_vimeo and settings.social_vimeo_link != blank -%}
                      <li class="list-social__item">
                        <a
                          {% if settings.new_tab %}
                            target="_blank"
                          {% endif %}
                          href="{{ settings.social_vimeo_link }}"
                          class="link link--text list-social__link"
                          aria-describedby="a11y-external-message"
                        >
                          {%- render 'icon-vimeo' -%}
                          <span class="visually-hidden">
                            {{- 'general.social.links.vimeo' | t -}}
                          </span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
              {% endcase %}
            {% endfor %}
          </div>
          <button
            type="button"
            class="link modal-close-button popup-close"
            aria-label="{{ 'accessibility.close' | t }}"
          >
            {% render 'icon-close' %}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% if section.settings['show-overlay'] %}
  <div class="popup-overlay"></div>
{% endif %}

{% schema %}
{
  "name": "t:sections.overlay-group.popup.name",
  "enabled_on": {
    "groups": ["custom.overlay"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.overlay-group.popup.settings.image.label"
    },
    {
      "type": "select",
      "id": "image_layout",
      "label": "t:sections.overlay-group.popup.settings.image_layout.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.overlay-group.popup.settings.image_layout.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.overlay-group.popup.settings.image_layout.options__2.label"
        },
        {
          "value": "top",
          "label": "t:sections.overlay-group.popup.settings.image_layout.options__3.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.overlay-group.popup.settings.image_layout.options__4.label"
        }
      ],
      "default": "top"
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.all.card.image_fit.label",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover"
    },
    {
      "type": "range",
      "id": "limit-display",
      "min": 0,
      "max": 100,
      "default": 0,
      "label": "t:sections.overlay-group.all.settings.limit-display.label",
      "info": "t:sections.overlay-group.all.settings.limit-display.info"
    },
    {
      "type": "number",
      "id": "limit-cache",
      "default": 30,
      "label": "t:sections.overlay-group.all.settings.limit-cache.label"
    },
    {
      "type": "select",
      "id": "position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.overlay-group.all.settings.position.options__1.label"
        },
        {
          "value": "top",
          "label": "t:sections.overlay-group.all.settings.position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.overlay-group.all.settings.position.options__3.label"
        },
        {
          "value": "left",
          "label": "t:sections.overlay-group.all.settings.position.options__4.label"
        },
        {
          "value": "center",
          "label": "t:sections.overlay-group.all.settings.position.options__5.label"
        },
        {
          "value": "right",
          "label": "t:sections.overlay-group.all.settings.position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.overlay-group.all.settings.position.options__7.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.overlay-group.all.settings.position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.overlay-group.all.settings.position.options__9.label"
        }
      ],
      "default": "center",
      "label": "t:sections.overlay-group.all.settings.position.label"
    },
    {
      "type": "header",
      "content": "t:sections.overlay-group.all.settings.trigger.header.content"
    },
    {
      "type": "text",
      "id": "popup-id",
      "label": "t:sections.overlay-group.all.settings.popup-id.label"
    },
    {
      "type": "select",
      "id": "trigger-open",
      "label": "t:sections.overlay-group.all.settings.trigger-open.label",
      "options": [
        {
          "value": "delay",
          "label": "t:sections.overlay-group.all.settings.trigger.options__1.label"
        },
        {
          "value": "scroll",
          "label": "t:sections.overlay-group.all.settings.trigger.options__2.label"
        },
        {
          "value": "exit",
          "label": "t:sections.overlay-group.all.settings.trigger.options__3.label"
        },
        {
          "value": "manual",
          "label": "t:sections.overlay-group.all.settings.trigger.options__4.label"
        }
      ],
      "default": "manual"
    },
    {
      "type": "range",
      "id": "trigger-open-delay",
      "label": "t:sections.overlay-group.all.settings.trigger-open-delay.label",
      "min": 0,
      "max": 100,
      "unit": "sec",
      "default": 1
    },
    {
      "type": "select",
      "id": "open-scroll-type",
      "options": [
        {
          "value": "px",
          "label": "t:sections.overlay-group.all.settings.scroll-type.options__1.label"
        },
        {
          "value": "%",
          "label": "t:sections.overlay-group.all.settings.scroll-type.options__2.label"
        }
      ],
      "default": "%",
      "label": "t:sections.overlay-group.all.settings.open-scroll-type.label"
    },
    {
      "type": "number",
      "id": "open-scroll-position",
      "default": 50,
      "label": "t:sections.overlay-group.all.settings.open-scroll-position.label"
    },
    {
      "type": "text",
      "id": "manual-selector",
      "label": "t:sections.overlay-group.all.settings.manual-selector.label",
      "info": "t:sections.overlay-group.all.settings.manual-selector.info"
    },
    {
      "type": "select",
      "id": "trigger-close",
      "label": "t:sections.overlay-group.all.settings.trigger-close.label",
      "options": [
        {
          "value": "delay",
          "label": "t:sections.overlay-group.all.settings.trigger.options__1.label"
        },
        {
          "value": "scroll",
          "label": "t:sections.overlay-group.all.settings.trigger.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.overlay-group.all.settings.trigger.options__5.label"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "trigger-close-delay",
      "label": "t:sections.overlay-group.all.settings.trigger-close-delay.label",
      "min": 1,
      "max": 100,
      "unit": "sec",
      "default": 30
    },
    {
      "type": "select",
      "id": "close-scroll-type",
      "options": [
        {
          "value": "px",
          "label": "t:sections.overlay-group.all.settings.scroll-type.options__1.label"
        },
        {
          "value": "%",
          "label": "t:sections.overlay-group.all.settings.scroll-type.options__2.label"
        }
      ],
      "default": "%",
      "label": "t:sections.overlay-group.all.settings.close-scroll-type.label"
    },
    {
      "type": "number",
      "id": "close-scroll-position",
      "default": 50,
      "label": "t:sections.overlay-group.all.settings.close-scroll-position.label"
    },
    {
      "type": "header",
      "content": "t:sections.overlay-group.all.settings.animation.header.content"
    },
    {
      "type": "range",
      "id": "width",
      "min": 200,
      "max": 1920,
      "unit": "px",
      "step": 20,
      "default": 460,
      "label": "t:sections.overlay-group.all.settings.width.label"
    },
    {
      "type": "color",
      "id": "background-color",
      "default": "#FFFFFF",
      "label": "t:sections.overlay-group.all.settings.background-color.label"
    },
    {
      "type": "color",
      "id": "heading-color",
      "default": "#040404",
      "label": "t:sections.overlay-group.all.settings.heading-color.label"
    },
    {
      "type": "color",
      "id": "text-color",
      "default": "#717171",
      "label": "t:sections.overlay-group.all.settings.text-color.label"
    },
    {
      "type": "color",
      "id": "link-color",
      "default": "#040404",
      "label": "t:sections.overlay-group.all.settings.link-color.label"
    },
    {
      "type": "color",
      "id": "link-color-hover",
      "default": "#3565e0",
      "label": "t:sections.overlay-group.all.settings.link-color-hover.label"
    },
    {
      "type": "color",
      "id": "icon-color",
      "default": "#717171",
      "label": "t:sections.overlay-group.popup.settings.icon-color.label"
    },
    {
      "type": "color",
      "id": "icon-color-hover",
      "default": "#3565E0",
      "label": "t:sections.overlay-group.popup.settings.icon-color-hover.label"
    },
    {
      "type": "select",
      "id": "open-animation",
      "label": "t:sections.overlay-group.all.settings.open-animation.label",
      "options": [
        {
          "value": "Fade",
          "label": "t:sections.overlay-group.all.settings.animation.options__1.label"
        },
        {
          "value": "Slide",
          "label": "t:sections.overlay-group.all.settings.animation.options__2.label"
        },
        {
          "value": "Zoom",
          "label": "t:sections.overlay-group.all.settings.animation.options__3.label"
        },
        {
          "value": "SlideFade",
          "label": "t:sections.overlay-group.all.settings.animation.options__4.label"
        }
      ],
      "default": "Fade"
    },
    {
      "type": "select",
      "id": "exit-animation",
      "label": "t:sections.overlay-group.all.settings.exit-animation.label",
      "options": [
        {
          "value": "Fade",
          "label": "t:sections.overlay-group.all.settings.animation.options__1.label"
        },
        {
          "value": "Slide",
          "label": "t:sections.overlay-group.all.settings.animation.options__2.label"
        },
        {
          "value": "Zoom",
          "label": "t:sections.overlay-group.all.settings.animation.options__3.label"
        },
        {
          "value": "SlideFade",
          "label": "t:sections.overlay-group.all.settings.animation.options__4.label"
        }
      ],
      "default": "Fade"
    },
    {
      "type": "checkbox",
      "id": "show-overlay",
      "label": "t:sections.overlay-group.all.settings.show-overlay.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.overlay-group.all.settings.advanced.header.content"
    },
    {
      "type": "checkbox",
      "id": "mobile",
      "label": "t:sections.overlay-group.all.settings.advanced.mobile.label",
      "info": "t:sections.overlay-group.all.settings.advanced.mobile.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "scrolling",
      "label": "t:sections.overlay-group.all.settings.advanced.scrolling.label",
      "info": "t:sections.overlay-group.all.settings.advanced.scrolling.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "overlay-close",
      "label": "t:sections.overlay-group.all.settings.advanced.overlay-close.label",
      "info": "t:sections.overlay-group.all.settings.advanced.overlay-close.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "esc-close",
      "label": "t:sections.overlay-group.all.settings.advanced.esc-close.label",
      "info": "t:sections.overlay-group.all.settings.advanced.esc-close.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "f4-close",
      "label": "t:sections.overlay-group.all.settings.advanced.f4-close.label",
      "info": "t:sections.overlay-group.all.settings.advanced.f4-close.info",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "popup_heading",
      "name": "t:sections.overlay-group.popup.blocks.popup_heading.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Some heading",
          "label": "t:sections.overlay-group.popup.blocks.popup_heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "subscribe_form",
      "name": "t:sections.overlay-group.popup.blocks.subscribe_form.name",
      "settings": [
        {
          "type": "text",
          "id": "placeholder_input",
          "default": "E-mail",
          "label": "t:sections.overlay-group.popup.blocks.subscribe_form.settings.placeholder_input.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Subscribe",
          "label": "t:sections.overlay-group.popup.blocks.subscribe_form.settings.button_label.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "tertiary",
              "label": "t:sections.all.button.button_style.options__3.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.all.button.button_style.label"
        },
        {
          "type": "richtext",
          "id": "description",
          "default": "<p>Additional text for subscribe form.</p>",
          "label": "t:sections.overlay-group.popup.blocks.subscribe_form.settings.description.label"
        }
      ]
    },
    {
      "type": "social_links",
      "name": "t:sections.overlay-group.popup.blocks.social_links.name",
      "settings": [
        {
          "type": "color",
          "id": "icon-color",
          "default": "#040404",
          "label": "t:sections.overlay-group.popup.blocks.social_links.settings.icon-color.label"
        },
        {
          "type": "color",
          "id": "icon-color-hover",
          "default": "#3565e0",
          "label": "t:sections.overlay-group.popup.blocks.social_links.settings.icon-color-hover.label"
        },
        {
          "type": "checkbox",
          "id": "show_twitter",
          "default": true,
          "label": "t:sections.overlay-group.popup.blocks.social_links.settings.show_twitter.label"
        },
        {
          "type": "checkbox",
          "id": "show_facebook",
          "default": true,
          "label": "t:sections.overlay-group.popup.blocks.social_links.settings.show_facebook.label"
        },
        {
          "type": "checkbox",
          "id": "show_pinterest",
          "default": true,
          "label": "t:sections.overlay-group.popup.blocks.social_links.settings.show_pinterest.label"
        },
        {
          "type": "checkbox",
          "id": "show_instagram",
          "default": true,
          "label": "t:sections.overlay-group.popup.blocks.social_links.settings.show_instagram.label"
        },
        {
          "type": "checkbox",
          "id": "show_tiktok",
          "default": false,
          "label": "t:sections.overlay-group.popup.blocks.social_links.settings.show_tiktok.label"
        },
        {
          "type": "checkbox",
          "id": "show_tumblr",
          "default": false,
          "label": "t:sections.overlay-group.popup.blocks.social_links.settings.show_tumblr.label"
        },
        {
          "type": "checkbox",
          "id": "show_snapchat",
          "default": false,
          "label": "t:sections.overlay-group.popup.blocks.social_links.settings.show_snapchat.label"
        },
        {
          "type": "checkbox",
          "id": "show_youtube",
          "default": false,
          "label": "t:sections.overlay-group.popup.blocks.social_links.settings.show_youtube.label"
        },
        {
          "type": "checkbox",
          "id": "show_vimeo",
          "default": false,
          "label": "t:sections.overlay-group.popup.blocks.social_links.settings.show_vimeo.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.overlay-group.popup.name",
      "blocks": [
        {
          "type": "popup_heading"
        },
        {
          "type": "subscribe_form"
        },
        {
          "type": "social_links"
        }
      ]
    }
  ]
}
{% endschema %}
